<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitud Realizada</title>
</head>
<body>
    <h1>Hola {{name}},</h1>
    <p>Tienes una nueva solicitud:</p>
    <table border="1">
        <tr>
            <th>Matrícula del Carro</th>
            <td>{{brand}}</td>
        </tr>
        <tr>
            <th>Código del Grupo</th>
            <td>{{groupCode}}</td>
        </tr>
        <tr>
            <th>Descripción de la Programación</th>
            <td>{{programmingDescription}}</td>
        </tr>
        <tr>
            <th>Día Solicitado</th>
            <td>{{requestedDate}}</td>
        </tr>
        <tr>
            <th>Hora</th>
            <td>{{start_time}}</td>
        </tr>
    </table>
    <p>Gracias,</p>
    <p>Equipo de soporte</p>
</body>
</html>
